* {
  padding: 0px;
}

thead, th {
    border: 1px solid black;
  }


th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

td {
  text-align: center;
  padding-right: 3px;
  padding-left: 3px;
}

.center{
  text-align: center;
}

.quotes{
  padding-top: 50px;
}

.kedua {
  padding-top: 40px;
}

.logo{
  height: 200px;
}

.list-matkul{
  font-size: 20px;
}

.nama{
  padding-top: 20px;
  padding-left: 460px;
}